<div class="acr-fragment acr-component divider-container" data-component-id="divider" style="text-align: center;  background-color: {{ element.background or "transparent" }};" contenteditable="false" data-has-int-mso-hack="true">
<!--[if mso]><table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td valign="top" style="padding: 0px 0px;" ><table cellpadding="0" cellspacing="0" border="0" width="100%"><tr><td style="text-align: center;" ><![endif]-->
<div class="" style="border-top: 0px solid transparent; width: 100%; display: inline-block; height: 0px; line-height: 0px; font-size: 0px; border-radius: 0px; border-right: none; border-bottom: none; border-left: none; border-image: initial;">&#160;</div>
<!--[if mso]></td></tr></table></td></tr></table><![endif]-->
</div>