
<div class="acr-fragment acr-component image-container" data-component-id="image" style="width:100%;text-align:center; background-color: {{ element.background or "transparent" }}; padding-bottom: {%-if element.placeholder_component-%}8px{%-else-%}16px{%-endif-%}" data-has-int-mso-hack="true" data-contenteditable="false">
<!--[if mso]>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td style="text-align: center; border: none; border-radius: 0px; padding: 0px;  background-color: {{ element.background or "transparent" }}" >
<![endif]-->
<img width="100%" style="height:auto;width:100%;max-width:100%;border:none;border-radius:0px;" data-medialibrary-id="{{ element.transition_id or "urn:aaid:aem:66e43077-8e6b-4c76-87f2-14e568fc5928" }}" data-mediarepo-id="author-p152614-e1584203.adobeaemcloud.com" data-medialibrary-source="aem" src="images/wobble-bottom-{{ element.transition.replace("#", "") }}.png" height="auto">
<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->
</div>