<div class="acr-structure" data-structure-id="1-1-column" data-structure-name="richtext.structure_1_1_column">
<table class="structure__table" align="center" cellpadding="0" cellspacing="0" border="0" width="600">
<tbody>
<tr role="presentation">
<th class="colspan1" style="background-color:{{ element.background or "#FFFFFE" }}; padding:{{ element.padding or "0px" }}; {%-if show_blocks-%}border: solid 2px rgba(255, 0, 255, 1);{%-endif-%}"><!-- border: solid 1px rgba(255, 0, 0, 0.5); -->
{{ renderElement(element, currentDepth + 1) }}
</th>
</tr>
</tbody>
</table>
</div>