<table class="acr-grid-table" style="background-color: {{ element.background or "transparent" }}; padding: {{ element.padding or "0px" }};{%-if show_blocks-%}{%-if element.name == "block container"-%}
border: solid 1px rgba(0, 255, 0, 1);
{%-elif element.name == "module container"-%}
border: solid 1px rgba(0, 0, 255, 1);
{%-endif-%}{%-endif-%}">
{{ element.uuid }}
{%-if element.innerLayout == "single_row" %}
{% include 'layouts/gridRow.njk' %}
{% else %}
{{ renderElement(element, currentDepth + 1) }}
{% endif-%}
</table>