<div name="{{ element.layout }}" class="acr-fragment acr-component" data-component-id="container" style="background-color: {{ element.background.rgb or element.background.rgb or "transparent" }}; border-radius: {{ element.border_radius or "24px"}}; padding: {{ element.padding or "0px" }};" contenteditable="false" data-has-int-mso-hack="true">
<!--[if mso]>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td style="background-color: {{ element.background.rgb or element.background.rgb or "transparent" }}; padding: {{ element.padding or "0px" }};" >
<![endif]-->
<div class="container-wrapper">
{{ renderElement(element, currentDepth + 1) }}
</div>
<!--[if mso]>
</td>
</tr>
</table>
<![endif]-->
</div>