<div name="{{ element.name }}" class="acr-fragment acr-component acr-grid" data-component-id="grid" data-acr-navtree-label="{{ element.nav_label }}"
data-has-int-mso-hack="true" style="background-color: {{ element.background or "transparent" }}; padding: {{ element.padding or "0px" }};{%-if show_blocks-%}{%-if element.name == "block container"-%}
border: solid 1px rgba(0, 0, 255, 0.25);
{%-elif element.name == "module container"-%}
border: solid 1px rgba(79, 227, 81, 0.25);
{%-endif-%}{%-endif-%}" data-contenteditable="false">
<!--   -->
<!--[if mso]>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td style="background-color: {{ element.background or "transparent" }}">
<![endif]--> 
<table class="acr-grid-table">
<tbody>
{%-if element.innerLayout == "single_row" %}
{% include 'layouts/gridRow.njk' %}
{% else %}
{{ renderElement(element, currentDepth + 1) }}
{% endif-%}
</tbody>
</table>
<!--[if mso]></td></tr></table><![endif]-->
</div>